h2 {
   font-family: 'Raleway', sans-serif;
   font-size: 20px;
   color: #6E6E6E;
}
h6 {
	font-family: 'Indie Flower', cursive;
}

p { 
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
 }

span {
	padding: 10px;
}
.first {
	background-color: #FAFAFA;
	width: 200px;
	height: 280px;
	text-align: center;
	display: inline-block;
}
.icon-paperplane {
	font-family: untitled-font-1;
	font-size: 40px;
	position: relative;
    top: 10px;
    color: #6E6E6E;
}
.second{
	background-color: #FAFAFA;
    width: 200px;
	height: 280px;
	text-align: center;
	display: inline-block;
}
.icon-diamond {
	font-family: untitled-font-1;
	font-size: 40px;
	position: relative;
    top: 10px;
    color: #6E6E6E;
}
.third {
	background-color: #FAFAFA;
    width: 200px;
	height: 280px;
	text-align: center;
	display: inline-block;
}
.icon-heart {
	font-family: untitled-font-1;
	font-size: 40px;
	position: relative;
    top: 10px;
    color: #6E6E6E;
}
.fourth {
	background-color: #FAFAFA;
	width: 200px;
	height: 280px;
	text-align: center;
	display: inline-block;
}
 .icon-cup {
 	font-family: untitled-font-1;
	font-size: 40px;
	position: relative;
    top: 10px;
    color: #6E6E6E;
 } 

.fifth{
	background-color: #FAFAFA;
	width: 200px;
	height: 280px;
	text-align: center;
	display: inline-block;
}
.icon-food{
	font-family: untitled-font-1;
	font-size: 40px;
	position: relative;
    top: 10px;
    color: #6E6E6E;
}
/*hover */
div {
	margin: 5px;
	transition: all .2s ease-in-out;
}

div:hover {
	transform: scale(1.1);
	background-color: white;
	color: #2E9AFE;
} 

