
.first {
	width: 200px;
	height: 250px;
	border: 2px solid black;
	text-align: center;
	display: inline-block;

}
/*
.second{
    width: 50px;
	height: 80px;
	border: 2px solid black;
	display: inline-block;
}
.third {
    width: 50px;
	height: 80px;
	border: 2px solid black;
	display: inline-block;
}
.fourth {
    width: 50px;
	height: 80px;
	border: 2px solid black;
	display: inline-block;
}
.fifth{
    width: 50px;
	height: 80px;
	border: 2px solid black;
	display: inline-block;
} */